@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./fonts/Roboto-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"), url(./fonts/SegoeUI.ttf) format("truetype");
}
.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f6f6ef;
  font-family: "Segoe UI";
  width: 100%;
}
