.Button {
    background-color: #1A5264;
    border-radius: 5px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    width: auto;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}